/* Archivo agregado: este archivo ahora solo reimporta los parciales para facilitar el mantenimiento. */
@import url('./partials/variables.css');
@import url('./partials/base-ui.css');
@import url('./partials/typography.css');
@import url('./partials/buttons.css');
@import url('./partials/forms.css');
@import url('./partials/loading.css');
@import url('./partials/game.css');
@import url('./partials/modal.css');
