/* Estilos específicos de cada pantalla (home, game, win, etc.) */

/* Gradiente superior aplicado SOLO en la pantalla de juego */
.screen-container.is-game .screen-background::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 292px;
	background: transparent linear-gradient(180deg, #000000A5 0%, #00000000 100%) 0% 0% no-repeat padding-box;
	opacity: 1;
	pointer-events: none;
	z-index: 1;
}

/* Aquí podemos añadir overrides específicos por pantalla si hiciera falta */
